body{
    font-family: Arial, Helvetica, sans-serif;
}

#continar{
    width: 1220px;
    border: 1px solid purple;
    margin:0 auto ;
}
#headder{
    height: 100px;
    padding: 10px 0;
}
#brand{
    color: rgb(20, 20, 207);
    font-size: 25px;  
    font-weight: 100;
    text-decoration: none;
    float: left;
}
#searchbox{
    float: right;
    background: rgb(173, 222, 100);
    width: 300px;
    height: 30px;
    align-items: center;
    padding:20px 20px 20px 20px ;
    margin-top: 30px;
}
.text{
   float: left; 
   width: 150px;
   height: 20px;
   padding: 5px ;
   font-size: 20px 0 ;
   color: rgb(147, 76, 145);
   background: white url(search.png) right center no-repeat;
   border: 1px solid;
}
.submit{
 float: right;
 width: 130 px;
 padding: 5px ;
 color: azure;
 background: rgb(216, 170, 53);
 font-size: 15px;
 border: 1px solid;
}
.clear{
    clear: both;
}
#menu{
    height: 60px;
    background: -webkit-linear-gradient(rgb(156, 156, 15),rgb(230, 230, 27));
    padding: 14px;
}
ul{
    list-style: none;
}
#menu ul li{
    float: left;
    padding: 0 60px;
    height: 30px;
    border-right: 1px solid rgb(24, 132, 96);
}
#menu ul li:last-child{
    border-right: none;
}
#menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    color: rgb(24, 132, 96);
    line-height: 35px;
    transition:font-size  1s ease;
}
#menu ul li a:hover{
    font-weight: bold;
    font-size: larger;
    color: purple;
}
#intro{
    background: -webkit-linear-gradient(rgb(193, 232, 114),yellow);
    margin-top: 10px;
    padding: 30px;
}
#intro h3{
    font-style: oblique;
    font-size: 45px;
    color: rgb(76, 129, 129);
    font-weight: normal;
}
#intro p{
    
    font-size: 20px;
    color: blue;
}
.sidebar{
    height: 500px;
    width: 599px;
    border:1px solid rgb(5, 75, 75)  ;
    border-radius:30px ;
    margin-top: 15px;
    background-color: rgb(200, 160, 237);
}
#lside{
    float: left;
    text-decoration: none;
}
#rside{
    float: right;
    text-decoration: none;
}
.sidebar h3{
    font-size: 30px;
    color: rgb(230, 98, 151);
    padding: 0 95px;
}
#lside ul{
    padding-left: 80px;
}
#lside ul li{
    padding: 13px;
    padding-left:15px ;
    list-style-image: url(arrow.png);
}
.sidebar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: azure;
    transition:font-size  1s ease;
}
.sidebar ul li a:hover, .sidebar ul li a.active{
    text-decoration: none;
    color: aquamarine;
    font-size: 25px;
    font-weight: bold;
}
#rside ul{
    padding-left: 80px;
}
#rside ul li{
    padding: 13px;
    padding-left:15px ;
    list-style-image: url(tick.png);
}
.foot{
    color: aqua;
  background: -webkit-linear-gradient(yellow green);
    margin-left: 60px;
    justify-content: center;
    width: 1220 px;
}
.foot a{
    text-decoration: none;
}



