body{
    padding: 0px;
    margin: 0px;
   background-color: black;
}
.container{
    width: 300px;
    top: 30%;
    left: 40%;
    border: 1px solid rebeccapurple;
    border-radius: 16px;
    position: absolute;
    background-color: aliceblue;  
}
.container h1{
    margin-left: 50px;
}
.container p{
    margin-left: 13px;
}
.container input{
    border: 1px solid;
    border-radius:7px;
    margin-left: 30px;
    background-color: aquamarine;
}
.container button{
    margin-top: 20%;
    margin-left: 80px;
    margin-bottom: 50px;
    background-color: rgb(117, 117, 233);
}